<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('修改电厂')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-powerinfo-edit" th:object="${powerinfo}">
            <input id="powerInfoId" name="powerInfoId" th:field="*{powerInfoId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">1.2#主变高压侧电量之和：</label>
				<div class="col-sm-8">
					<input id="powerNum01" name="powerNum01" th:field="*{powerNum01}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">1#机原始上网电量：</label>
				<div class="col-sm-8">
					<input id="powerNum02" name="powerNum02" th:field="*{powerNum02}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">2#机原始上网电量：</label>
				<div class="col-sm-8">
					<input id="powerNum03" name="powerNum03" th:field="*{powerNum03}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">供电侧电量：</label>
				<div class="col-sm-8">
					<input id="powerNum04" name="powerNum04" th:field="*{powerNum04}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">1#机结算上网电量：</label>
				<div class="col-sm-8">
					<input id="powerNum05" name="powerNum05" th:field="*{powerNum05}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">2#机结算上网电量：</label>
				<div class="col-sm-8">
					<input id="powerNum06" name="powerNum06" th:field="*{powerNum06}" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "power/powernum";
		$("#form-powerinfo-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-powerinfo-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
