<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.power.mapper.PowernumMapper">

	<resultMap type="Powernum" id="PowernumResult">
		<result property="powerInfoId" column="powerInfoId" />
		<result property="powerNum01" column="powerNum01" />
		<result property="powerNum02" column="powerNum02" />
		<result property="powerNum03" column="powerNum03" />
		<result property="powerNum04" column="powerNum04" />
		<result property="powerNum05" column="powerNum05" />
		<result property="powerNum06" column="powerNum06" />
		<result property="remark" column="remark" />
		<result property="comFlag" column="com_flag" />
		<result property="createBy" column="create_by" />
		<result property="createTime" column="create_time" />
		<result property="updateBy" column="update_by" />
		<result property="updateTime" column="update_time" />
		<result property="company" column="company" />
		<result property="billDate" column="bill_date" />
		<association property="dept" column="company"
			javaType="SysDept" resultMap="deptResult" />
	</resultMap>
	<resultMap id="deptResult" type="SysDept">
		<id property="deptId" column="dept_id" />
		<result property="parentId" column="parent_id" />
		<result property="deptName" column="dept_name" />
		<result property="orderNum" column="order_num" />
		<result property="leader" column="leader" />
		<result property="status" column="dept_status" />
	</resultMap>

	<sql id="selectPowernumVo">
		select powerInfoId, powerNum01, powerNum02, powerNum03, powerNum04,
		powerNum05, powerNum06, remark, com_flag, create_by, create_time,
		update_by, update_time, company,bill_date from sys_powernum
	</sql>

	<select id="selectPowernumList" parameterType="Powernum"
		resultMap="PowernumResult">
		select sys_powernum.powerInfoId, sys_powernum.powerNum01,
		sys_powernum.powerNum02, sys_powernum.powerNum03,
		sys_powernum.powerNum04, sys_powernum.powerNum05,
		sys_powernum.powerNum06, sys_powernum.remark, sys_powernum.com_flag,
		sys_powernum.create_by, sys_powernum.create_time,
		sys_powernum.update_by, sys_powernum.update_time,
		sys_powernum.company,sys_powernum.bill_date,sys_dept.dept_name,sys_dept.leader from sys_powernum
		left join sys_dept on sys_powernum.company = sys_dept.dept_id
		<where>
			<if test="powerInfoId != null "> and powerInfoId = #{powerInfoId}</if>
			<if test="powerNum01 != null "> and powerNum01 = #{powerNum01}</if>
			<if test="powerNum02 != null "> and powerNum02 = #{powerNum02}</if>
			<if test="powerNum03 != null "> and powerNum03 = #{powerNum03}</if>
			<if test="powerNum04 != null "> and powerNum04 = #{powerNum04}</if>
			<if test="powerNum05 != null "> and powerNum05 = #{powerNum05}</if>
			<if test="powerNum06 != null "> and powerNum06 = #{powerNum06}</if>
			<if test="remark != null  and remark != '' "> and remark = #{remark}</if>
			<if test="comFlag != null  and comFlag != '' "> and com_flag = #{comFlag}</if>
			<if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
			<if test="createTime != null "> and create_time = #{createTime}</if>
			<if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
			<if test="updateTime != null "> and update_time = #{updateTime}</if>
			<if test="company != null "> and company = #{company}</if>
			<if test="billDate != null "> and bill_date = #{billDate}</if>
		</where>
	</select>

	<select id="selectPowernumById" parameterType="Long"
		resultMap="PowernumResult">
		select sys_powernum.powerInfoId, sys_powernum.powerNum01,
		sys_powernum.powerNum02, sys_powernum.powerNum03,
		sys_powernum.powerNum04, sys_powernum.powerNum05,
		sys_powernum.powerNum06, sys_powernum.remark, sys_powernum.com_flag,
		sys_powernum.create_by, sys_powernum.create_time,
		sys_powernum.update_by, sys_powernum.update_time,
		sys_powernum.company,sys_powernum.bill_date,sys_dept.dept_name,sys_dept.leader from sys_powernum
		left join sys_dept on sys_powernum.company = sys_dept.dept_id
		where powerInfoId = #{powerInfoId}
	</select>

	<select id="selectPowernumListCommited" parameterType="Long"
		resultMap="PowernumResult">
		select sys_powernum.powerInfoId, sys_powernum.powerNum01,
		sys_powernum.powerNum02, sys_powernum.powerNum03,
		sys_powernum.powerNum04, sys_powernum.powerNum05,
		sys_powernum.powerNum06, sys_powernum.remark, sys_powernum.com_flag,
		sys_powernum.create_by, sys_powernum.create_time,
		sys_powernum.update_by, sys_powernum.update_time,
		sys_powernum.company,sys_powernum.bill_date,sys_dept.dept_name,sys_dept.leader from sys_powernum
		left join sys_dept on sys_powernum.company = sys_dept.dept_id
		<where>
			<if test="company != null "> and sys_powernum.company = #{company}</if>
			and sys_powernum.com_flag = '2'
		</where>
	</select>

	<select id="selectPowernum" parameterType="Long"
		resultMap="PowernumResult">
		select sys_powernum.powerInfoId, sys_powernum.powerNum01,
		sys_powernum.powerNum02, sys_powernum.powerNum03,
		sys_powernum.powerNum04, sys_powernum.powerNum05,
		sys_powernum.powerNum06, sys_powernum.remark, sys_powernum.com_flag,
		sys_powernum.create_by, sys_powernum.create_time,
		sys_powernum.update_by, sys_powernum.update_time,
		sys_powernum.company,sys_powernum.bill_date,sys_dept.dept_name,sys_dept.leader from sys_powernum
		left join sys_dept on sys_powernum.company = sys_dept.dept_id
		<where>
			<if test="company != null "> and sys_powernum.company = #{company}</if>
		</where>
	</select>

	<select id="selectPowernumListByIds" parameterType="String"
		resultMap="PowernumResult">
		select sys_powernum.powerInfoId, sys_powernum.powerNum01,
		sys_powernum.powerNum02, sys_powernum.powerNum03,
		sys_powernum.powerNum04, sys_powernum.powerNum05,
		sys_powernum.powerNum06, sys_powernum.remark, sys_powernum.com_flag,
		sys_powernum.create_by, sys_powernum.create_time,
		sys_powernum.update_by, sys_powernum.update_time,
		sys_powernum.company,sys_powernum.bill_date,sys_dept.dept_name,sys_dept.leader from sys_powernum
		left join sys_dept on sys_powernum.company = sys_dept.dept_id

		where sys_powernum.powerInfoId in
		<foreach item="powerInfoId" collection="array" open="("
			separator="," close=")">
			#{powerInfoId}
		</foreach>
	</select>

	<insert id="insertPowernum" parameterType="Powernum"
		useGeneratedKeys="true" keyProperty="powerInfoId">
		insert into sys_powernum
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="powerNum01 != null  ">powerNum01,</if>
			<if test="powerNum02 != null  ">powerNum02,</if>
			<if test="powerNum03 != null  ">powerNum03,</if>
			<if test="powerNum04 != null  ">powerNum04,</if>
			<if test="powerNum05 != null  ">powerNum05,</if>
			<if test="powerNum06 != null  ">powerNum06,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="comFlag != null  and comFlag != ''  ">com_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="company != null  ">company,</if>
			<if test="billDate != null  ">bill_date,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="powerNum01 != null  ">#{powerNum01},</if>
			<if test="powerNum02 != null  ">#{powerNum02},</if>
			<if test="powerNum03 != null  ">#{powerNum03},</if>
			<if test="powerNum04 != null  ">#{powerNum04},</if>
			<if test="powerNum05 != null  ">#{powerNum05},</if>
			<if test="powerNum06 != null  ">#{powerNum06},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="comFlag != null  and comFlag != ''  ">#{comFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="company != null  ">#{company},</if>
			<if test="billDate != null  ">#{billDate},</if>
		</trim>
	</insert>

	<update id="updatePowernum" parameterType="Powernum">
		update sys_powernum
		<trim prefix="SET" suffixOverrides=",">
			<if test="powerNum01 != null  ">powerNum01 = #{powerNum01},</if>
			<if test="powerNum02 != null  ">powerNum02 = #{powerNum02},</if>
			<if test="powerNum03 != null  ">powerNum03 = #{powerNum03},</if>
			<if test="powerNum04 != null  ">powerNum04 = #{powerNum04},</if>
			<if test="powerNum05 != null  ">powerNum05 = #{powerNum05},</if>
			<if test="powerNum06 != null  ">powerNum06 = #{powerNum06},</if>
			<if test="remark != null  and remark != ''  ">remark = #{remark},</if>
			<if test="comFlag != null  and comFlag != ''  ">com_flag = #{comFlag},</if>
			<if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
			<if test="createTime != null  ">create_time = #{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
			<if test="updateTime != null  ">update_time = #{updateTime},</if>
			<if test="company != null  ">company = #{company},</if>
			<if test="billDate != null  ">bill_date = #{billDate},</if>
		</trim>
		where powerInfoId = #{powerInfoId}
	</update>

	<delete id="deletePowernumById" parameterType="Long">
		delete from sys_powernum where powerInfoId = #{powerInfoId}
	</delete>

	<delete id="deletePowernumByIds" parameterType="String">
		delete from sys_powernum where powerInfoId in
		<foreach item="powerInfoId" collection="array" open="("
			separator="," close=")">
			#{powerInfoId}
		</foreach>
	</delete>

</mapper>